.StoreContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: black;
}

.App {
  background-image: url("./backgroundGreen.png");
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: -8vw;
  min-height: 100vh;
}
